<h1>Confirmation de votre candidature</h1>

<p>Bonjour
	{{ student.firstName }},</p>

<p>Nous vous confirmons la réception de votre candidature pour l'offre :
	<strong>{{ offer.name }}</strong>.</p>

<p>Merci de votre intérêt pour cette opportunité. L’entreprise
	{{ offer.company.name }}
	vous contactera si votre profil correspond à leurs attentes.</p>

<p>Bonne chance,</p>
<p>L’équipe Trouve Ta Boîte</p>